<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4cd99">  <td>23/11/03 00:02:26</td>   <td>0</td> <td title="&lt;&lt;Post_TC1.tearDown()[pri:0, instance:TestClass_Package.Post_TC1@10a9d961]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="f6b1bb">  <td>23/11/03 00:02:14</td>   <td>-11861</td> <td title="&gt;&gt;Patch_TC1.setUp()[pri:0, instance:TestClass_Package.Patch_TC1@3abada5a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="87c9e8">  <td>23/11/03 00:02:25</td>   <td>-1010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TC1.exeutor()[pri:0, instance:TestClass_Package.Delete_TC1@61fe30]">exeutor</td> 
  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="f6b1bb">  <td>23/11/03 00:02:22</td>   <td>-4235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:TestClass_Package.Patch_TC1@3abada5a]">executor</td> 
  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="c79789">  <td>23/11/03 00:02:18</td>   <td>-7738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:TestClass_Package.Put_TC1@5f9be66c]">executor</td> 
  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="d4cd99">  <td>23/11/03 00:02:14</td>   <td>-11589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:TestClass_Package.Post_TC1@10a9d961]">executor</td> 
  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="94fff9">  <td>23/11/03 00:02:23</td>   <td>-2703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:TestClass_Package.Get_TC1@66c61024]">executor</td> 
  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="d4cd99">  <td>23/11/03 00:02:14</td>   <td>-11617</td> <td title="&gt;&gt;Post_TC1.setUp()[pri:0, instance:TestClass_Package.Post_TC1@10a9d961]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@943010986</td>   <td></td> </tr>
<tr bgcolor="f6b1bb">  <td>23/11/03 00:02:26</td>   <td>-252</td> <td title="&lt;&lt;Patch_TC1.tearDown()[pri:0, instance:TestClass_Package.Patch_TC1@3abada5a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@943010986</td>   <td></td> </tr>
</table>
